/* global defaults */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
:root {
    --primary-color: #a8aab0;
    --secondary-color: #333;
    --accent-color: #555;
    --paragraph-font: "Lato", sans-serif;
    --heading-font: "Cantarell", sans-serif;
    --linear-gradient-right-bottom: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.85),
        rgba(218, 218, 218, 0.6)
    );
}

header {
    z-index: 9999;
    background-color: transparent;
    position: fixed;
    width: 100%;
}
main {
    min-height: 100vh;
    background: linear-gradient(to right top, #f9f9f9, #6c6f79);
    padding-top: 8%;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}
h1 {
    font-size: 48px;
}
h3 {
    font-size: 25px;
}
p,
a,
pre {
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
}

blockquote {
    font-size: 50px;
    white-space: pre;
}
/* style header */
header a {
    text-decoration: none;
}
nav {
    align-items: flex-end;
    flex: 1 30%;
}
nav ul {
    list-style: none;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    font-size: 1.75rem;
}
nav ul li {
    padding: 10px;
    border-radius: 5px;
    transition: 0.25s ease-in-out;
}
nav ul li:hover {
    background: #a8aab0;
}

.contact-info-mini {
    background-color: #939393;
    height: auto;
    padding: 3px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.contact-info-mini a {
    padding: 0 10px;
    color: white;
    font-size: 18px;
}
.nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.6)
    );
}
.header-name {
    flex: 3;
    padding-left: 20px;
}
/* style section plates */
.section-plate {
    display: flex;
    background: white;
    margin: 50px;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.4)
    );
    position: relative;
    z-index: 3;
}
.label-wrapper {
    width: 30vw;
}
/* style hero */
#hero img {
    width: 50%;
    height: auto;
    max-height: 600px;
    max-width: 600px;
    padding: 40px;
}
.quote-container {
    padding: 0 20px;
}
.quote-container h2,
.quote-container pre {
    font-size: 4vw;
    font-family: "Courier New", Courier, monospace;
}
.quote-container h2::before {
    content: "\275D";
    font-size: 8vw;
    margin-bottom: -40px;
    display: block;
}
.indent-five {
    text-indent: 5em;
}

/* style my work */
#my-work {
    flex-direction: column;
    justify-content: space-between;
}
/* feature work section */
.feature-work {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 20px;
}
.feature-overlay {
    padding: 0;
    margin: 20px;
    flex: 2 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.feature-overlay img {
    width: 100%;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}
.feature-overlay h3 {
    position: absolute;
    bottom: 20px;
    left: 0px;
    background: var(--linear-gradient-right-bottom);
    width: 100%;
    padding: 20px;
    text-align: center;
}
.feature-overlay a {
    width: 100%;
}

.feature-work img,
.secondary-work img {
    max-width: 90%;
    opacity: 100%;
    filter: brightness(85%);
    transition: all 0.5s ease-in-out;
}
.feature-work img:hover,
.secondary-work img:hover {
    filter: brightness(100%);
}

.label-title {
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0)
    );
    font-size: 4rem;
    padding: 20px 0 20px 20px;
    border-radius: 10px;
    margin-right: 20px;
}
/* secondary work section */
.secondary-work {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.secondary-work img {
    width: 100%;
}
.overlay {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 20px;
}
.overlay img {
    width: 100%;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}
.overlay h3 {
    position: absolute;
    bottom: 20px;
    left: 0px;
    background: var(--linear-gradient-right-bottom);
    width: 100%;
    padding: 20px;
}
/* style about me */
#about-me {
    flex-wrap: wrap;
    justify-content: flex-end;
}
.para-wrapper {
    padding: 30px;
}
.para-wrapper p {
    font-size: 40px;
}
/* contact me */
#contact-me {
    flex-flow: column nowrap;
    align-items: flex-end;
}
.contact-details-wrapper {
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    padding: 50px;
    width: 100%;
}
.contact-details {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: center;
}
.contact-details span {
    margin: 30px 0;
}
.contact-details span a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 2rem;
}
.contact-details span img {
    height: 2rem;
    margin: -4px;
    padding-left: 10px;
}
.contact-img-wrapper {
    width: 40%;
    margin-left: 40px;
}
.contact-img img {
    width: 100%;
    height: 100%;
}
/* style circles */
.circle1,
.circle2 {
    background: white;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: linear-gradient(
        to left bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    z-index: 1;
    position: fixed;
}
.circle1::before,
.circle2::before {
    content: "";
    background: white;
    border-radius: 50%;
    background: linear-gradient(
        to left bottom,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.2)
    );
    z-index: 1;
    position: fixed;
}
.circle1::after,
.circle2::after {
    content: "";
    background: white;
    border-radius: 50%;
    background: linear-gradient(
        to left top,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.1)
    );
    z-index: 1;
    position: fixed;
}
.circle1 {
    top: 10%;
    left: 5%;
}
.circle2 {
    bottom: 10%;
    right: 10%;
}
.circle1::before {
    top: 70%;
    left: 5%;
    height: 300px;
    width: 300px;
}
.circle2::before {
    bottom: 60%;
    right: 30%;
    height: 100px;
    width: 100px;
}
.circle1::after {
    top: 40%;
    left: 20%;
    height: 500px;
    width: 500px;
}
.circle2::after {
    bottom: 80%;
    right: 10%;
    height: 50px;
    width: 50px;
}
/* media queries */
@media screen and (max-width: 980px) {
    .nav-container {
        padding: 0 10px;
    }
    .label-wrapper {
        width: 100%;
        text-align: center;
    }
    .label-wrapper h2 {
        font-size: 3rem;
    }
    #about-me h2 {
        width: 100%;
    }
    .feature-overlay {
        order: 2;
    }
    .contact-img-wrapper {
        width: 70%;
    }
    .contact-details span a,
    .contact-details span img {
        font-size: 1.5rem;
        height: 1.5rem;
    }
}
@media screen and (max-width: 768px) {
    main {
        padding-top: 20%;
    }
    .header-name {
        text-align: center;
    }
    .nav-container nav {
        flex: 1 100%;
    }
    #hero img {
        padding: 20px;
    }
    .contact-img-wrapper {
        display: none;
    }
    .contact-details {
        border-right: 5px solid var(--primary-color);
        padding-right: 10px;
    }
    .feature-overlay h3 {
        bottom: 15px;
        padding: 5px;
    }
    .overlay h3 {
        padding: 2px;
        bottom: 10px;
    }
    .secondary-work {
        flex-wrap: wrap;
    }
    .secondary-work .overlay {
        width: 45%;
        margin: 2% 2%;
    }
}
@media screen and (max-width: 575px) {
    main {
        padding-top: 30%;
    }
    .section-plate {
        margin: 10px;
        padding: 10px;
    }
    .label-title {
        padding: 5px;
    }
    #hero {
        flex-direction: column;
        text-align: center;
    }
    #hero img {
        margin: 0 auto;
        width: 80%;
    }
    .quote-container h2::before {
        margin-bottom: -30px;
        margin-left: -225px;
        font-size: 10vw;
    }
    .quote-container h2,
    .quote-container pre {
        font-size: 30px;
    }
    .feature-overlay {
        margin: 0px;
    }

    .overlay {
        margin: 5px;
    }

    .para-wrapper {
        padding: 15px;
    }
    .para-wrapper p {
        font-size: 30px;
        text-align: center;
    }
}
